<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://d.pcs.baidu.com/file/7c139ba1fbb3d8fd1cc852dd998150a3?fid=1796076700-250528-957173729883890&amp;time=1509209581&amp;rt=sh&amp;sign=FDTAERV-DCb740ccc5511e5e8fedcff06b081203-sYNtX1DWXqJxYZd1tgL233XzYos%3D&amp;expires=8h&amp;chkv=1&amp;chkbd=0&amp;chkpc=&amp;dp-logid=6981893748993872052&amp;dp-callid=0&amp;r=880830315</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>title</key>
				<string>小灰灰下载页</string>
				<key>bundle-version</key>
				<string>6.5.17</string>
				<key>kind</key>
				<string>software</string>
				<key>bundle-identifier</key>
				<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
